@import '../templates.scss';
@import '../variables.scss';

.header {
  background: url('../../images/MaskGroup.png') center/cover;
  height: 848px;
  &__content {
    padding: 0 15px;
    margin: 0 auto;
    max-width: 1378px;
    color: $lightBg;
    .title {
      @include fs75;
      margin: 147px 0 5px 0;
      font-weight: bold;
      font-family: 'Rubik', sans-serif;
      @media screen and (max-width: 767px) {
      margin: 30px 0 5px 0;
      }
    }
    .line {
      width: 95px;
      height: 5px;
      background: $redBg;
    }
    .text {
      @include fs18;
      margin: 50px 0 20px 0;
      width: 355px;
      @media screen and (max-width: 767px) {
      @include fs12;
      width: 237px;
      margin: 40px 0 40px 0;
      }
    }
    .btn-wrapper {
      display: flex;
      .btn {
        @include btn;
      }
      .btn--1 {
        margin-right: 10px;
        background: $yellowBg;
      }
      .btn--2 {
        margin-left: 10px;
        background: inherit;
        border: 2px solid #FFFFFF;
      }
    }
  }
}