@import '../templates.scss';
@import '../variables.scss';

.roadmap {
  margin-bottom: 100px;
  &__top {
    display: flex;
    flex-direction: column;
    align-items: center;
    .name {
      @include fs48;
      margin: 20px 0;
      font-family: 'Rubik', sans-serif;
      font-weight: 500;
    }
    .text {
      text-align: center;
      margin-bottom: 247px;
      max-width: 770px;
      color: $grayBg;
    }
  }
  &__bottom {
    .steps {
      display: flex;
      align-items: center;
      margin-bottom: 232px;
      .step {
        display: flex;
        align-items: center;
        width: 100%;
        div {
          &:nth-child(1) {
            position: relative;
            width: 22px;
            height: 22px;
            background: $lightBg;
            border: 6px solid $yellowBg;
            border-radius: 11.5px;
          }
          &:nth-child(2) {
            max-width: 171px;
            width: 100%;
            height: 6px;
            background: $yellowBg;
          }
        }
        .process__circle {
          background: #090F3F !important;
          border: 6px solid #E0E0E0 !important;
        }
        .process__line {
          background: #E0E0E0 !important;
        }
        .step__text {
          position: absolute;
          width: 208px;
          font-weight: 600;
        }
        .step__date {
          position: absolute;
          width: 208px;
          color: $grayBg;
        }
        .step__text--1, .step__text--3, .step__text--5 {
          top: 40px;
        }
        .step__date--2, .step__date--4 {
          top: -40px;
        }
        .step__text--2, .step__text--4 {
          top: -110px;
        }
        .step__date--1 {
          top: 110px;
        }
        .step__date--3 {
          top: 90px;
        }
        .step__date--5 {
          top: 130px;
        }
      }
    }
  }
}