@import '../templates.scss';
@import '../variables.scss';

.welcome {
  display: flex;
  align-items: center;
  padding: 0 15px;
  margin: 0 auto;
  margin-bottom: 196px;
  max-width: 1288px;
  @media screen and (max-width: 800px) {
    flex-direction: column;
    justify-content: center;
    margin-bottom: 77px;
  }
  &__image {
    margin-right: 20px;
    width: 505px;
    height: 392px;
    @media screen and (max-width: 800px) {
      margin-right: 0px;
      margin-bottom: 51px;
      width: 306px;
      height: 238px;
    }
  }
  &__content {
    .name {
      @include fs48;
      margin: 20px 0;
      max-width: 570px;
      font-family: 'Rubik', sans-serif;
      font-weight: 500;
    }
    .text {
      @include fs18;
      font-weight: 300;
      color: #4F4F4F;
      max-width: 556px;
    }
  }
}

.welcome-2 {
  margin-bottom: 67px;
  .welcome__image {
    // width: 550px;
    height: 620px;
    object-fit: cover;
    @media screen and (max-width: 800px) {
      height: 418px;
    }
  }
  .btn {
    @include btn;
    margin-top: 20px;
    background: $yellowBg;
  }
}